<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamePlus - Novo Jogo</title>
</head>
<body>

    <h1>GamePlus</h1>
    
    <form method="POST" action="/adicionar">
        <label for="name">Nome:</label>
        <input type="text" name="name" id="name">

        <label for="year">Ano:</label>
        <input type="text" name="year" id="year">

        <label for="type">Gênero:</label>
        <input type="text" name="genre" id="genre">

        <input type="submit" value="Salvar">
    </form>

    <a href="/">Início</a>
</body>
</html>